@import '~antd/dist/antd.css';

.root {
	height: 100vh;
	display: flex;
	align-items: center;
}

.content {
	width: 1024px;
	margin: 0px auto;
}

.search-field {
	margin: 32px 0;
}

@media (max-width: 1024px) {
	.root {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.root {
		width: 768px;
	}
}
